body{
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
}
select{
    height: 100px;
    width: 250px;
    font-size: 20px;
    padding: 5px;
}
option{
    font-size: 20px;
}
.sigma{
     margin-top: 400px;
}